

/* Carol */

#chat [data-cid^="38741985-"] span.un.clickable,
#user-lists .list.room .id-38741985 .name,
#user-lists .list.room .is-staff.id-38741985 .name,
#user-lists .list.room .is-dj.id-38741985 .name,
#user-lists .list.room .is-subscriber.id-38741985 .name,
#user-lists .list.room [class*='role'].id-38741985 .name,
#chat .msg .text .id-38741985,
#chat .msg .text .name.id-38741985,
#chat .msg .text .name.id-38741985 .name,
#user-rollover.id-38741985 .username {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #000000), color-stop(0.15, #FFFF00), color-stop(0.3, #000000), color-stop(0.45, #FFFF00), color-stop(0.6, #000000),color-stop(0.75, #FFFF00), color-stop(0.9, #000000), color-stop(1, #FFFF00) );
background-image: gradient( linear, left top, right top, color-stop(0, #000000), color-stop(0.15, #FFFF00), color-stop(0.3, #000000), color-stop(0.45, #FFFF00), color-stop(0.6, #000000),color-stop(0.75, #FFFF00), color-stop(0.9, #FFFF00), color-stop(1, #FFFF00) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

               /* vinicius */
#chat [data-cid^="36740873-"] span.un.clickable,
#user-lists .list.room .id-36740873 .name,
#user-lists .list.room .is-staff.id-36740873 .name,
#user-lists .list.room .is-dj.id-36740873 .name,
#user-lists .list.room .is-subscriber.id-36740873 .name,
#user-lists .list.room [class*='role'].id-36740873 .name,
#chat .msg .text .id-36740873,
#chat .msg .text .name.id-36740873,
#chat .msg .text .name.id-36740873 .name,
#user-rollover.id-36740873 .username {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #AC76FF), color-stop(0.15, #AC76FF), color-stop(0.3, #AC76FF), color-stop(0.45, #90AD2F), color-stop(0.6, #90AD2F),color-stop(0.75, #90AD2F), color-stop(0.9, #90AD2F), color-stop(1, #90AD2F) );
background-image: gradient( linear, left top, right top, color-stop(0, #AC76FF), color-stop(0.15, #AC76FF), color-stop(0.3, #AC76FF), color-stop(0.45, #90AD2F), color-stop(0.6, #90AD2F),color-stop(0.75, #90AD2F), color-stop(0.9, #90AD2F), color-stop(1, #90AD2F) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

/* Nana */ 
[data-cid^="21755082-"] .badge-box .bdg,
#user-rollover.id-21755082 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.pinimg.com/originals/14/70/43/147043fcaadeff48d5ca939dbd8164df.png");
}

/* Lolla */ 
[data-cid^="23246837-"] .badge-box .bdg,
#user-rollover.id-23246837 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://data.whicdn.com/images/232104861/large.jpg");
}

/* vinicius */ 
[data-cid^="36740873-"] .badge-box .bdg,
#user-rollover.id-36740873 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/UG4ciFh.jpg");
}    

/* Carol */
[data-cid^="38741985-"] .badge-box .bdg,
#user-rollover.id-38741985 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.pinimg.com/originals/f9/a9/cb/f9a9cb76ad6d295cf6f0f922b076d7b4.jpg");
}
/* MeninaVeneno/2 */
#user-rollover.id-21755082:before{
    content: 'I'mma Diva';
    top: 95px;
    left: 193px;
    position: absolute;
    display: inline-block; 
    padding: 0 5px;
    color: #f78fd4;
    background: linear-gradient(rgba(0, 102, 102, 0.2), rgba(0, 102, 102, 0.2));
    border-radius: 3px;
    font-size: 10px;
}

/* !Special Menina Veneno */
[data-cid^="21755082-"] .badge-box .bdg,
#user-rollover.id-217550827 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("http://78.media.tumblr.com/21c88c63a1be5a0ecf6a6f1917b6b52b/tumblr_msrw38hTnh1s5jjtzo1_500.gif");
}	
/* Carol/3 */
[data-cid^="8741985-"] .msg .from .un {
    position: relative;
    left:-1px;
    padding-left:21px;
    background-image: url('https://i.pinimg.com/originals/44/d1/e8/44d1e83c451431bbe724c5752bfb4bc6.jpg');
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 15px auto;
}    
/*  */
[data-cid^="-"] .badge-box .bdg,
#user-rollover.id- .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://78.media.tumblr.com/tumblr_m653f4N0bY1qg132w.gif");
}	
/* Background Users */
.cm.message.deletable.id-21755082::before,
.cm.message.id-21755082::before {
	background-image: url(https://t3.ftcdn.net/jpg/00/90/56/40/500_F_90564038_zxQCvpTMvgLcNWG281RRotEiu3Qgj9jZ.jpg);	/* !Nana BACKGROUND */
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}
.cm.message.deletable.id-8741985::before,
.cm.message.id-8741985::before {
	background-image: url(https://wallpaperstudio10.com/wallpaper-download-180947-1680x1050.jpg);	/* Carol BACKGROUND */
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -50px;
	background-position-x: right;
}



.cm.message.deletable.id-23246837::before,
.cm.message.id-23246837::before {
	background-image: url(https://static.tumblr.com/c31e908b6b5cca01b62722b4cac9e6cf/lry3zo0/bDznn1bgp/tumblr_static_tumblr_static_filename_640.jpg);	/* Lolla BACKGROUND */
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}

.cm.message.deletable.id-36740873::before,
.cm.message.id-36740873::before {
	background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Pretty-Wallpapers-Tumblr.jpg);	/* Vinny BACKGROUND */
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}

#chat [data-cid^="38741985-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}
#chat [data-cid^="5639828-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

#chat [data-cid^="21755082-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

#chat [data-cid^="36740873-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

#user-lists .list .user.id-21755082 .name:after,
#chat [data-cid^='21755082-'] .un:after,
#user-lists .list .user.id-21755082 .name:after,
#chat [data-cid^='21755082-'] .un:after,
#user-lists .list .user.id-21755082 .name:after,
#chat [data-cid^='21755082-'] .un:after {
    content: 'HEART SHAKER';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #ff00d0;
    background: linear-gradient(rgba(10,10,10,.5), rgba(0,0,0,.5));
    border-radius: 4px;
    font-size: 10px;
}
#user-lists .list .user.id-21755082:hover .name:after,
#chat [data-cid^='21755082-'] .un:hover:after,
#user-lists .list .user.id-21755082:hover .name:after,
#chat [data-cid^='21755082-'] .un:hover:after,
#user-lists .list .user.id-21755082:hover .name:after,
#chat [data-cid^='21755082-'] .un:hover:after {
    background: linear-gradient(rgba(0, 154, 141, 0.2), rgba(0, 102, 102, 0.2));
}

#user-lists .list .user.id-38741985 .name:after,
#chat [data-cid^='38741985-'] .un:after,
#user-lists .list .user.id-38741985 .name:after,
#chat [data-cid^='38741985-'] .un:after,
#user-lists .list .user.id-20574971 .name:after,
#chat [data-cid^='38741985-'] .un:after {
    content: 'QUEEN';
    display: inline-block;
    margin: 0 0 0 5px; 
	padding: 0 3px;
    color: #009A80;
    background: linear-gradient(rgba(10,10,10,.5), rgba(0,0,0,.5));
    border-radius: 4px;
    font-size: 10px;
}
#user-lists .list .user.id-38741985:hover .name:after,
#chat [data-cid^='38741985-'] .un:hover:after,
#user-lists .list .user.id-38741985:hover .name:after,
#chat [data-cid^='38741985-'] .un:hover:after,
#user-lists .list .user.id-38741985:hover .name:after,
#chat [data-cid^='38741985-'] .un:hover:after {
    background: linear-gradient(rgba(0, 154, 141, 0.2), rgba(0, 102, 102, 0.2));
}

#user-rollover.id-38741985 .meta{
height: 146px !important;
}
#user-rollover.id-38741985 .meta:before{
    content: 'CSS';
    top: 120px;
    left: 109px;
    position: absolute;
	display: inline-block; 
	padding: 0 3px;
    color: #009A80;
    background: linear-gradient(rgba(0, 154, 141, 0.2), rgba(0, 102, 102, 0.2));
    border-radius: 4px;
    font-size: 10px;
}
#user-rollover.id-38741985 .meta:after{
    content: 'Girl Master';
    color: #808691;
    position: absolute;
    top: 117px;
    left: 134px;
}
